/.coverage
/.tox/
/.git/
/docs/
/epl/apps/*/tests/
/epl.egg-info/
/fabfile/
/htmlcov/
/keys/
/keys/
/.pre-commit-config.yaml
/.safety-project.ini
/generate-requirements.sh
/sonar-project.properties
/.coveragerc
/.justfile
/run_tests.py
/tox.ini
/coverage.xml
