---
stages:
  - test
  - sonarqube-check
  - build
  - release
  - sentry

variables:
  POSTGRES_USER: epl
  POSTGRES_PASSWORD: epl
  POSTGRES_DB: epl
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project
  GIT_STRATEGY: fetch  # Tells git to fetch changes
  PYTHON_VERSION: "3.12"
  CONTAINER_BASE_IMAGE_NAME: $CI_REGISTRY/dnum/eplouribousse-backend

services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/postgres:12
    alias: postgres

before_script:
  - if [ -z "$CI_COMMIT_TAG" ]; then
    export DOCKER_IMAGE_TAG=$(git describe --long --always);
    else
    export DOCKER_IMAGE_TAG="$CI_COMMIT_TAG";
    fi

unittest:
  stage: test
  tags:
    - cluster
  image: registry.app.unistra.fr/docker/python$PYTHON_VERSION-ci:latest
  script:
    - apt-get update && apt-get install -y libpango-1.0-0 libpangoft2-1.0-0
    - pip3 install tox
    - tox -e py312
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    paths:
      - coverage.xml
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

sonarqube-check:
  stage: sonarqube-check
  image:
    name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/sonarsource/sonar-scanner-cli:11
    entrypoint: [ "" ]
  script:
    - sonar-scanner -Dsonar.host.url="${SONAR_HOST_URL}"
  allow_failure: true
  needs:
    - job: unittest
      artifacts: true
  rules:
    - if: $CI_COMMIT_BRANCH == 'develop'

sentry-release:
  stage: sentry
  image: getsentry/sentry-cli:latest
  variables:
    SENTRY_AUTH_TOKEN: $SENTRY_AUTH_TOKEN
    SENTRY_ORG: "unistra"
    SENTRY_PROJECT: "eplouribousse-back"
  script:
    - export SENTRY_RELEASE="epl-back@$DOCKER_IMAGE_TAG"
    - sentry-cli releases new -p "$SENTRY_PROJECT" "$SENTRY_RELEASE"
    - sentry-cli releases set-commits --ignore-missing --commit "$CI_PROJECT_PATH@$CI_COMMIT_SHA" "$SENTRY_RELEASE"
    - sentry-cli releases finalize "$SENTRY_RELEASE"
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
  needs:
    - job: r:docker
    - job: b:docker

include:
  - project: "docker/template"
    file: "python-pip-audit.gitlab-ci.yml"


.build-image:
  image:
    # gcr.io/kaniko-project/executor:v1.7.0-debug
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    - echo "${CI_PROJECT_DIR} ${CI_PROJECT_DIR_PATH} ${CI_REGISTRY} ${CI_REGISTRY_USER} ${DESTINATION} ${EXTRA_ARGS}"
    - >-
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}${CI_PROJECT_DIR_PATH}/docker/app/Dockerfile"
      --registry-mirror quay.apps.mgmt.paas.unistra.fr/dnum
      $([ -n "${LATEST_DESTINATION}" ] && echo "--destination ${LATEST_DESTINATION}")
      --destination "${DESTINATION}"
      ${EXTRA_ARGS}
  tags:
    - cluster
    - kubernetes

b:docker:
  extends: .build-image
  stage: build
  variables:
    DESTINATION: $CONTAINER_BASE_IMAGE_NAME:$DOCKER_IMAGE_TAG
    LATEST_DESTINATION: ""
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always

r:docker:
  extends: .build-image
  stage: release
  variables:
    DESTINATION: $CONTAINER_BASE_IMAGE_NAME:$DOCKER_IMAGE_TAG
    LATEST_DESTINATION: "$CONTAINER_BASE_IMAGE_NAME:latest"
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
